* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(230, 230, 230);
}

.container {
    /*border: 1px solid #7a7a7a;*/
    margin: auto;
    width: 70%;
    padding: 10px;
}

h1 {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.players {
    display: flex;
    justify-content: space-around;
}

.player1 {
    color: blue;
}

.player2 {
    color: red;
}